<div class="hero">
    <h1>Live to skate</h1>
</div>
<div class="container">
<div class="copy row">
    <div class="col-sm-4">
        <img src="http://blogs.elon.edu/gst336/files/2014/06/skateboardinglist-of-all-skateboarding-hd-wallpapers-page-26-of-31-pages-r0gipils.jpg" alt="skateboarding" class="image" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, quisquam, reiciendis, sit, blanditiis cum earum dolorem cupiditate quia numquam incidunt fugit tempora vitae beatae eveniet esse neque eligendi nihil similique sequi soluta recusandae voluptatibus illo placeat nostrum iste distinctio obcaecati sapiente iure tenetur enim. Quae, nisi possimus velit ducimus at architecto soluta quisquam natus corporis laudantium. Consequuntur, adipisci, ipsum, eos, voluptatem tempore ut aperiam modi blanditiis saepe veniam hic provident odit distinctio nemo illum. Expedita, iste quis dolor quo ducimus molestiae ea aliquid ullam. Provident vitae modi recusandae! Dolores commodi iusto sunt consequuntur perspiciatis quia nesciunt quod aspernatur laborum recusandae!
            
        </p>
        
    </div>
    <div class="col-sm-4">
        <img src="http://www.inlinestreetskatersofeurope.com/wp-content/uploads/2014/02/skateboard-safety.jpg"></img>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, quisquam, reiciendis, sit, blanditiis cum earum dolorem cupiditate quia numquam incidunt fugit tempora vitae beatae eveniet esse neque eligendi nihil similique sequi soluta recusandae voluptatibus illo placeat nostrum iste distinctio obcaecati sapiente iure tenetur enim. Quae, nisi possimus velit ducimus at architecto soluta quisquam natus corporis laudantium. Consequuntur, adipisci, ipsum, eos, voluptatem tempore ut aperiam modi blanditiis saepe veniam hic provident odit distinctio nemo illum. Expedita, iste quis dolor quo ducimus molestiae ea aliquid ullam. Provident vitae modi recusandae! Dolores commodi iusto sunt consequuntur perspiciatis quia nesciunt quod aspernatur laborum recusandae!
            
        </p>
    </div>
    <div class="col-sm-4">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, quisquam, reiciendis, sit, blanditiis cum earum dolorem cupiditate quia numquam incidunt fugit tempora vitae beatae eveniet esse neque eligendi nihil similique sequi soluta recusandae voluptatibus illo placeat nostrum iste distinctio obcaecati sapiente iure tenetur enim. Quae, nisi possimus velit ducimus at architecto soluta quisquam natus corporis laudantium. Consequuntur, adipisci, ipsum, eos, voluptatem tempore ut aperiam modi blanditiis saepe veniam hic provident odit distinctio nemo illum. Expedita, iste quis dolor quo ducimus molestiae ea aliquid ullam. Provident vitae modi recusandae! Dolores commodi iusto sunt consequuntur perspiciatis quia nesciunt quod aspernatur laborum recusandae!
            
        </p>
        
    </div>
    
      
    </div>
    
</div>
<div class="content container">
    <%= render 'notes/latest_note' %>
    <p class="long-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, possimus, quas dolor tenetur nam nihil animi voluptatibus aut nesciunt veniam laborum nostrum illum optio eveniet at magnam velit dolorum pariatur unde obcaecati necessitatibus labore ducimus impedit. Molestiae, aspernatur, facere sapiente beatae incidunt reprehenderit nisi maiores assumenda itaque corporis illo nam eaque qui numquam distinctio tempora vero. Praesentium, iusto, id, nulla, porro quod ut inventore cupiditate nemo assumenda maxime veritatis sed harum aliquid. Magni, voluptatum, veritatis, tempora mollitia aliquam hic nihil maxime nisi dignissimos sed ducimus suscipit distinctio nesciunt porro earum! Cum, sed voluptates natus ad at vitae itaque hic facilis dolore optio! Nobis magnam reiciendis voluptates modi suscipit libero repellat quod. Facilis, eum, laudantium, esse accusantium quaerat ipsa praesentium libero quisquam veritatis quam eos nam sit itaque consequuntur quod! Maxime, totam, perspiciatis, minus quasi laborum dolore vero perferendis excepturi nisi minima nemo natus accusamus molestias culpa reiciendis illo officia sit dolorem in aliquid. Cum, unde, aspernatur, obcaecati commodi consequuntur error et quasi debitis expedita incidunt architecto molestiae temporibus in porro quis saepe voluptatibus id iure quae aliquid distinctio sed tempore?
    
        <span>Quis quam cum atque saepe consectetur odit sed eveniet veritatis! Architecto, harum, fugiat dolore sit similique totam incidunt optio ipsam doloremque deserunt dolorem recusandae laborum distinctio placeat nemo iure repellendus maiores sunt sed natus voluptate officiis perferendis laboriosam beatae eum iusto quod ut ex dignissimos quasi. Ab, maxime, animi, numquam, sint suscipit dolores itaque eveniet totam facilis nobis veritatis unde perferendis voluptatem voluptatum laborum nulla nisi culpa molestiae nam porro asperiores error iste odio et sapiente autem nemo commodi. Necessitatibus, maxime, eveniet repellendus perferendis soluta repellat. Necessitatibus, eaque, nisi quidem ipsum nemo similique vel minus dolorem repudiandae voluptate earum nam voluptates aperiam quod soluta tenetur possimus mollitia illo nihil corporis quibusdam eius aliquid est molestiae perspiciatis ut consequuntur hic quasi officia. Quos, inventore, id, repellendus, quasi cupiditate nemo amet tempora illo quisquam suscipit nesciunt fugit. Ducimus, eos, totam, tenetur, vel quos ea modi aut iusto asperiores pariatur magnam distinctio rem nisi voluptatibus quod eligendi molestias sit obcaecati debitis officiis! Odit, consectetur, pariatur, quas similique mollitia deleniti illum optio aliquid repellat commodi porro repudiandae esse. Laudantium, quas, laborum, cumque suscipit commodi quia voluptates veniam animi eaque illo nihil iusto quaerat labore fugit adipisci necessitatibus inventore culpa sed accusantium saepe natus expedita tempore ipsum at praesentium quasi nam. Tempore, nisi, aliquam consequatur ipsam porro facilis pariatur perspiciatis ducimus quos rerum reprehenderit animi incidunt sapiente placeat alias nemo totam distinctio fugit quia ipsa vitae impedit asperiores commodi maxime itaque ratione reiciendis mollitia at magnam repellat? Dolorum, suscipit, dignissimos, necessitatibus ratione totam maxime eius debitis in a magnam iste ullam tempora est libero eos voluptate molestias vitae quo hic deserunt dolor cumque omnis qui animi esse earum eaque aliquid fugiat labore quae quam distinctio porro ipsum. Excepturi, maxime architecto nemo dolores distinctio fugiat obcaecati quasi amet odit itaque laudantium iste dolore natus. Culpa, laboriosam, nostrum nemo neque sequi modi mollitia voluptatem quidem incidunt eveniet iste dolor architecto aspernatur explicabo voluptate nisi ab? Ullam, temporibus.
        
        </span></p>
</div>
<script>

    
    
</script>

